
@{
    ViewBag.Title = "Error";
}



<div class="bg-Cyan">
    <div class="container" style="padding: 10px 48px;">
        <div class="row">
            <h2>something blew up:</h2>
            <h3>@ViewBag.Message</h3>
        </div>
    </div>
</div>